extends layout

block content
    // Start Header Area
    header.default-header
      .container
        .header-wrap
          .header-top.d-flex.justify-content-between.align-items-center
            div#logo R E V O I C E 
            .main-menubar.d-flex.align-items-center
              .navbar2
                //- a(href='#home') Home
                //- a(href='#news') News
                .dropdown2
                  button.dropbtn2#training
                    | Training
                .dropdown2
                  button.dropbtn2
                    | Participant ID 
                    i.fa.fa-caret-down
                  .dropdown2-content#participant
                    a(href='#') Participant 1
                      .buttonDownload
                    a(href='#') Participant 2
                      .buttonDownload
                    a(href='#') Participant 3
                      .buttonDownload
                    a(href='#') Participant 4
                      .buttonDownload
                    a(href='#') Participant 5
                      .buttonDownload
                    a(href='#') Participant 6
                      .buttonDownload
                    a(href='#') Participant 7
                      .buttonDownload
                    a(href='#') Participant 8
                      .buttonDownload
                    a(href='#') Participant 9
                      .buttonDownload
                    a(href='#') Participant 10
                      .buttonDownload
                    a(href='#') Participant 11
                      .buttonDownload
                    a(href='#') Participant 12
                      .buttonDownload
                    a(href='#') Participant 13
                      .buttonDownload
                    a(href='#') Participant 14
                      .buttonDownload
                    a(href='#') Participant 15
                      .buttonDownload
                    a(href='#') Participant 16
                      .buttonDownload
                    a(href='#').training Load Training Data
                .dropdown2
                  button.dropbtn2
                    | Technique 
                    i.fa.fa-caret-down
                  .dropdown2-content#technique
                    a(href='#') Keyword-Based Operation
                    a(href='#') Re-dictation Operation
                    a(href='#') Combined Operation
          br
          //- label#status
          label.status#status
          
              //- nav.hide
              //-   button#open Upload
              //-   span#filePath
              //-   input#readFile(type='file', accept='text/plain', style='display: none')
              //-   button#_1EU 1 EU
              //-   button#_2EU 2 EU
              //- .menu-bar
              //-   span.lnr.lnr-menu
    // End Header Area

    // Start Banner Area
    section.banner-area.relative
      .overlay.overlay-bg
      a.prev#left ❮
      a.next#right ❯
      .container
        .row.fullscreen.align-items-center.justify-content-center
          .col-lg-10
            .banner-content.text-center
              .container_meta
                .overlay_meta
                  .text#meta
                label#taskTimer
                  .values
                br
                //- a.primary-btn.d-inline-flex.align-items-center#start(href='#')
                //-   span.mr-10 hello
                //- nbsp
                //- nbsp
                //- nbsp
                //- a.primary-btn.d-inline-flex.align-items-center#start(href='#')
                //-   span.mr-10 world
                a.primary-btn.d-inline-flex.align-items-center#start(href='#')
                  span.mr-10 Start
                  span.lnr.lnr-arrow-right
                
              div#dots(style='text-align:center')
                //- span.dot(onclick='currentSlide(1)')
                //- span.dot(onclick='currentSlide(2)')
                //- span.dot(onclick='currentSlide(3)')
              br
              div#editor
              div.transcript
                span#transcriptFinal
                span#transcriptStreaming
              label.switch     
                input#rec(type="checkbox")
                span.slider.round
    // End Banner Area

    //- script(src='js/vendor/jquery-2.2.4.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    //- script(src='js/vendor/bootstrap.min.js')
    script(src='js/jquery.ajaxchimp.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.nice-select.min.js')
    script(src='js/jquery.magnific-popup.min.js')
    script(src='js/main.js')
    script(type='module', src='/javascripts/main.js')
    script(type='text/javascript', src='/javascripts/clj-fuzzy.js')