/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

/* a {
  color: #00B7FF;
} */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0px;
  width: 0px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:hover {
  background-color: greenyellow;
}

input:checked + .slider {
  background-color: rgb(40, 243, 33);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Quill editor styling */
#editor {
  height: 270px;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8)
}

/* talkify
.talkify-audio-control {
  color: white;
} */

.fa-2x {
  font-size: 20px !important;
}

.transcript {
  font-size: 12px;
  font-style: italic;
  color: #d0ffcf;
}

#transcriptFinal {
  color: #f7ffd9;
  /* font-weight: 400; */
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 3px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* .active, .dot:hover {
  background-color: #00ff00;
} */

.active {
  background-color: #00ff00;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.container_meta {
  position: relative;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(226, 159, 77, .8)
}

/* .container_meta .primary-btn {
  margin: 10px;
} */

.overlay_meta {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container_meta:hover .overlay_meta {
  opacity: 1;
}

.text {
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar2 {
  overflow: hidden;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar2 a {
  float: left;
  font-size: 8px;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.dropdown2 {
  float: left;
  overflow: hidden;
}

.dropdown2 .dropbtn2 {
  font-size: 8px;    
  border: none;
  outline: none;
  color: white;
  padding: 5px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar2 a:hover, .dropdown2:hover .dropbtn2 {
  background-color: red;
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown2-content a {
  float: none;
  color: black;
  padding: 5px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown2-content a:hover:not(.buttonDownload):hover {
  /* background-color: #ddd; */
  background-color: rgba(230, 245, 94, 0.7)
}

.dropdown2:hover .dropdown2-content {
  display: block;
}

.fa-caret-down {
  color: greenyellow;
}

.dropdown-item-checked::before {
  position: relative;
  right: .3rem;
  content: '✓';
  font-weight: 600;
}

.status {
  color: rgba(247, 147, 108, 0.959);
}

/* Download Button */
.buttonDownload {
	/* display: inline-block; */
	display: none;
	position: absolute;
	padding: 10px 20px;
  margin-left: 40px;
	background-color: #4CC713;
	color: white;
  width: 5px;
  height: 0px;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.7em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: flex;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 1px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}

.dropdown2-content a:hover .buttonDownload {
  display: inline-block;
}

.dropdown2-content .training {
  display:none;
}

#participant a.training_show {
  display: flex;
  color: brown;
}

#training:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#training.clicked {
  /* color: lightpink; */
  box-shadow: 0 2px chartreuse;
  transform: translateY(-5px);
  /* transform: translateX(2px); */
}